<h1 class="text-3xl font-bold underline">
    Products:
</h1>
<p> Total products: {{products().length}}</p>
<hr>
<div class="flex space-x-4 mt-5">

     <!-- Categories -->
     <div class="w-80">
        <ul>
            <li routerLink="/">All</li>
            <li *ngFor="let category of categories()">
                <a routerLink="/" 
                     [queryParams]="{'category_id':category.id}">{{category.name | titlecase}}</a>
            </li>
        </ul>
    </div>

    <!-- Productos -->
    <div class="grid grid-cols-3 gap-6 w-full">
        <div *ngFor="let product of products()">
            <app-product 
                [product]="product" 
                (onAddToCart)="addToCartHandler($event)"s/>
        </div>
    </div>

</div>